<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
         <!-- Whenever SERVER will receive any req it will first read the web.xml file of web app then it will redirect to dispather servlet -->
         
           <display-name>Archetype Created Web Application</display-name>
  <servlet>
      <servlet-name>dispatcher</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/dispatcher-servlet.xml,/WEB-INF/SpringSecurity.xml</param-value>
      
  </context-param>
  
 
  
 
  
  
  <listener>
      <listener-class>
          org.springframework.web.context.ContextLoaderListener <!-- from here only dispatcher servlet loads the mapping -->
      </listener-class>
  </listener>
  
  
  <!-- to implement SPRING SECURITY v need to add SS filter here
   this filter allows any web url request which coming is to application needs to b pass through here -->
  
    <filter>
	<filter-name>springSecurityFilterChain</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
</filter>
<filter-mapping>
	<filter-name>springSecurityFilterChain</filter-name>
	<url-pattern>/*</url-pattern> <!-- this pattern says that evrythng tht is req shld go through SFC -->
</filter-mapping>

<error-page>
	<location>/WEB-INF/views/error.jsp</location>
</error-page>
    
</web-app>
